* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    color: peachpuff;
}

h1 {
    color: #fff;
    font-size: 4rem;
}

h2 {
    color: #003C50;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

@media print {
    body {
        font-size: 12pt;
    }
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: #003C50;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: peachpuff;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#project-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    font-size: 1.6rem;
}

#contact {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: peachpuff;
}

#contact-links {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
    font-size: 2rem;
}

#contact a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #003C50;
}

.project-tile {
    text-align: center;
  }

figure > img {
    max-height: 200px;
    max-width: 200px;
  }

figcaption {
    text-align: center;
    color: #003C50;
    max-width: 200px;
    position: relative;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: peachpuff;
    color: #003C50;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003C50;
    color: #fff;
    height: 6rem;
}