body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f3e8d1;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 10px;
  perspective: 600px;
  border-radius: 10px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
  background: radial-gradient(gold, #FF9A1C);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
  border-color: gold;
  border-width: 5px;
}

.card__face--back {
  background: radial-gradient(#4DB5D9 , #003C50);
  transform: rotateY(180deg);
  text-align: center;
  border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #4DB5D9;
  border-width: 5px;
}

img {
  height: 150px;
}

h2 {
  font-size: 0.75rem;
  text-align: left;
  padding-left: 10px;
}

li {
  text-align: left;
  font-size: .25rem;
  line-height: 150%;
}

button {
  font-size: 1rem;
  background-color: #FF9A1C;
  border-color: #FF9A1C;
  padding: 10px;
  margin: 5px;
  font-family: 'Press Start 2P', cursive;
  border-radius: 5px;
  color: white;
  width: 300px;
}