body {
    color: #003C50;
    font-family: 'DM Serif Display', serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.headerImage {
    max-height: 200px;
    max-width: 200px;
}

.senators {
    display: flex;
    flex-wrap: wrap;
}

img {
    border-radius: 20px;
}

figcaption {
    display: flex;
    justify-content: center;
}

.selectParty {
    display: flex;
    justify-content: center;
}

button {
    font-size: 1rem;
    background-color: #003C50;
    border-color: #003C50;
    color: white;
    padding: 10px;
    margin: 5px;
    font-family: "Oxanium"
}