body {
    color: #003C50;
    font-family: 'DM Serif Display', serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.headerImage {
    max-height: 200px;
    max-width: 200px;
}

.senators {
    display: flex;
    flex-wrap: wrap;
}

img {
    border-radius: 20px;
}

figcaption {
    display: flex;
    justify-content: center;
}

.selectParty {
    display: flex;
    justify-content: center;
}

button {
    font-size: 1rem;
    background-color: maroon;
    border-color: maroon;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-family: "Oxanium"
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
    border-radius: 10px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: radial-gradient(gold, #FF9A1C);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: gold;
    border-width: 5px;
  }
  
  .card__face--back {
    background: radial-gradient(#4DB5D9 , #003C50);
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #4DB5D9;
    border-width: 5px;
  }